<div class="grid grid-cols-2 gap-8">
  <div>
    <h1>*ngIf</h1>
    <hr />
    <mat-card>
      <mat-card-title class="ml-4">Title</mat-card-title>
      <mat-divider class="w-[95%] mx-auto"></mat-divider>
      <mat-card-content class="mt-4"> Simple card </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" class="mt-4 w-[100%]">
      Mostar/Ocultar
    </button>
  </div>
  <div>
    <h1>*ngFor</h1>
    <hr />
    <mat-list
      class="border-solid border-[1px] rounded-md border-slate-500"
      role="list"
    >
      <mat-list-item role="listitem">Item 1</mat-list-item>
    </mat-list>
  </div>
</div>
